.easy {
    background-color: lightgreen;
    color: green; border: 2px solid;
}

.medium {
    background-color: lightsalmon;
    color: black; border: 2px solid;
}


.hard {
    background-color: red;
    color: darkred; border: 2px solid;
}

body {
    background-color: lightblue;
    color: black;

}
h1 {
    color: royalblue;
    transition-duration: 2s;
}
h1:hover {
    transform: scale(1.2);
    transition-duration: 2s;
}

.box {
    color: red;
    border-radius: 10px;
    transition-duration: 2s;
}
.box:hover {
    color: red;
    border-radius: 10px;
    transition-duration: 2s;
    transform: scale(1.2);
}

#end {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.9); 
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    display: none; 
    width: 60%;
    max-width: 400px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Style for the modal content */
.modal-content {
    background: rgba(255, 255, 255, 0.9); /* White background with opacity */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 60%;
    max-width: 400px;
}

/* Style for the restart button */
#restartBtn {
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.circle {
    width: 100px;
    height: 100px;
    background-color: blue;
    border-radius: 50%;
}