.easy {
    background-color: lightgreen;
    color: green; border: 2px solid;
}

.medium {
    background-color: lightsalmon;
    color: black; border: 2px solid;
}


.hard {
    background-color: red;
    color: darkred; border: 2px solid;
}

body {
    background-color: lightblue;
    color: black;

}
h1 {
    color: royalblue;
    transition-duration: 2s;
}
h1:hover {
    transform: scale(1.2);
    transition-duration: 2s;
}

.box {
    color: red;
    border-radius: 10px;
    transition-duration: 2s;
}
.box:hover {
    color: red;
    border-radius: 10px;
    transition-duration: 2s;
    transform: scale(1.2);
}